<%- include("../../_header") -%>

<div class="row">
    <% for (const post of model) { %> 
        <!-- Blog Post Card -->
        <div class="col-md-6">
          <div class="row g-0 border rounded flex-md-row mb-4 shadow-sm">
            <div class="col p-4 d-flex flex-column">
              <h3 class="mb-0"><%= post.title %></h3>
              <div class="mb-1 text-muted">Nov 12</div>
              <p class="card-text mb-auto"><%= post.content.substring(0, 100) %>...</p>
              <a href="/posts/public/post/<%= post.post_id %>">Continue reading</a>
            </div>

            <div
              class="hero-image col-auto d-none d-lg-block"
              style="width: 40%; background-image: url('<%= post.img_path %>');"
            ></div>
          </div>
        </div>
        <!-- Blog Post Card -->
    <% } %> 
</div>
