<%- include("../../_header") -%>

<div class="blog-post">
    <h2 class="blog-post-title"><%= event.title %> </h2>
    <p class="blog-post-meta">Date: <%= event.event_date %> | Time: <%= event.event_time %></p>
    <p class="blog-post-title"><%= event.description %> </p>
</div>